@import "controls.css";

body::before {
	z-index: 0;
	opacity: 1;
    background: url("https://maschinenraum-duisburg.de/templates/yootheme_child/images/sterne.gif") repeat;
}
.content{
    z-index: 1;
    position: relative;
}
.robot_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uk-button {
	padding: 0 10px;
	aspect-ratio: 1/1;
}